@font-face {
    font-family: 'Abril Fatface', cursive;
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
    src: url(https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Playfair+Display&family=Poppins&display=swap);
}

html{
    scroll-behavior: smooth;
    background-color: whitesmoke;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3a2244;
    color: whitesmoke;
    padding: 20px;
  }
  
.title {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
  }

.menu {
    display: flex;
  }
  
.options {
    margin-left: 20px;
  }
  
.options a:link {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    padding-right: 20px;
    color: whitesmoke;
    text-decoration: none;
  }

.options a:visited{
    text-decoration: none;
    color: whitesmoke;
}
  
.options a:hover {
    color: whitesmoke;
    text-decoration: underline;
  }

.options a:active{
    text-decoration: none;
    color: #ccc;
}

.search-bar {
    display: flex;
    align-items: center;
  }
  
.search-bar input[type="text"] {
    padding: 5px;
    padding-left: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    opacity: .8;
  }
  
.search-bar button[type="submit"] {
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
.search-bar button[type="submit"]:hover {
    background-color: #555;
  }
  
body{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #444444;
    margin: 0em;
}

body h1{
  margin-left: 100px;
  margin-right: 100px;
}

.signin{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 564px; /* Update to 100vh to center vertically on the viewport */
    width: 564px;
    margin-left: 390px;
    background-image: url(../images/8428b7f6d6cd56d3d0e1f1990692f8a3.jpg);
    border-radius: 30px;
  }
  
form{
      padding: 30px;
      background-color: #ccc;
      opacity: 0.8;
      border-radius: 30px;
      font-family: 'Poppins', sans-serif;
      margin-top: 20px; /* Add margin to separate from the signin div */
      color: black;
  }
  

footer{
  background-color: #ccc;
  opacity: 0.8;
  font-size: small;
}